<h1>Edit Astronaut</h1>

<%= form_tag "/astronauts/#{@astronaut.id}", :method => "patch" do %>
  <div>
    <label>Name:</label>
    <input type="text" name="name" value="<%= @astronaut.name %>">
  </div>


  <input type="submit" value="Update Astronaut">

<% end %>